* {
  margin: 0;
  padding: 0; }
#frame {
  width: 1600px;
  position: relative;
  transform-origin: left top;
}
.bg {
  position: absolute;
  width: 1600px;
  height: 900px;
  z-index: 1;
  background: #fed5d5;
}
canvas {
  position: absolute;
  z-index: 5;
}
